<h1>  Please Old Friend, Do Sign IN!!!  </h1>

<%= form_for(:sessions, url:login_path) do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Log In" %>

<% end %>