<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">
        <div class="header-nav"></div>
        <div class="avatar">
          <% if current_user %>
          <p><%= current_user.name %> is signed in | <%= link_to 'logout', logout_path, method: :delete %></p>
          <%else %>
          <p>Anonymous User</p>
          <% end %>
        </div>
      </div>
    </header>
    
    <br>
    <%= yield %>

    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
